@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: auto;
    font-weight: auto;
  }

  
:root  {
  --background: 204 13% 95%;
  --foreground: 204 5% 10%;
  --card: 204 13% 90%;
  --card-foreground: 204 5% 15%;
  --popover: 204 13% 95%;
  --popover-foreground: 204 95% 10%;
  --primary: 204 35% 40%;
  --primary-foreground: 0 0% 100%;
  --secondary: 204 13% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: 166 13% 85%;
  --muted-foreground: 204 5% 35%;
  --accent: 166 13% 80%;
  --accent-foreground: 204 5% 15%;
  --destructive: 0 50% 30%;
  --destructive-foreground: 204 5% 90%;
  --border: 204 20% 50%;
  --input: 204 20% 23%;
  --ring: 204 35% 40%;
  --radius: 0.5rem;
}

  [data-theme='dark'] {
    --background: 204 13% 10%;
    --foreground: 204 5% 90%;
    --card: 204 13% 10%;
    --card-foreground: 204 5% 90%;
    --popover: 204 13% 5%;
    --popover-foreground: 204 5% 90%;
    --primary: 204 35% 40%;
    --primary-foreground: 0 0% 100%;
    --secondary: 204 13% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 166 13% 23%;
    --muted-foreground: 204 5% 60%;
    --accent: 166 13% 23%;
    --accent-foreground: 204 5% 90%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 204 5% 90%;
    --border: 204 20% 23%;
    --input: 204 20% 23%;
    --ring: 204 35% 40%;
    --radius: 0.5rem;

    --success: 196 100% 14%;
    --warning: 34 51% 25%;
    --error: 10 39% 43%;
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
}
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground min-h-[100vh] flex flex-col;
  }
}

html {
  opacity: 0;
}

html[data-theme='dark'],
html[data-theme='light'] {
  opacity: initial;
}
